<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          Cameron Wilding
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

     <a class="sidebar-nav-item" href="https://github.com/advun" target="_blank" rel="noopener noreferrer">GitHub</a>
     <a class="sidebar-nav-item" href="https://www.linkedin.com/in/cameron-wilding-3x2/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      
    </nav>

  </div>
</div>
